.App {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2 {
	text-align: center;
}

.credentials-form {
	display: flex;
	flex-direction: column;
	margin: 1.5rem auto;
	width: 80%;
}

.logged-as-bar {
	background: #d3d3d3;
	color: #777;
	padding: 0.3em 0 0.3em 2em;
}

.add-form {
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
	width: 48%;
}

.login-button {
	margin-top: 25px !important;
	background-color: #e0e0e0;
}

.add-button {
	margin-top: 2rem !important;
	width: 50%;
}

a {
	text-decoration: none;
	color: inherit;
}

.icon {
	font-size: medium !important;
}

.icon:hover {
	cursor: pointer;
}

.text-gray {
	color: gray;
}

.text-red {
	color: red;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list-item {
	margin: auto 20px;
	color: white;
}
